<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ankomst</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

<h1>Ankomst</h1>

<table class="table table-light" id="arrival_table">
    <tr>
        <th>Dato</th>
        <th>Rutenummer</th>
        <th>Tidspunkt</th>
        <th>AC</th>
        <th>Destination</th>
        <th>Ankommet</th>
    </tr>
    <tr>

    </tr>
</table>


<script>
    $.ajax({
        url: "http://localhost:8080/arrival"
    }).then(function (data) {
        let trHTML = '';
        console.log(data)
        //Looper gennem alle data i vores product og putter dem i tables
        $.each(data, function (i, arrival) {
            trHTML += '<tr><td>' + arrival.dateTime.split('T')[0] + '</td><td>' + arrival.routeNumber + '</td> <td>' + arrival.dateTime.split('T')[1] + '</td> <td>' + arrival.ac + '</td><td>' + arrival.destination + '</td><td>' + arrival.isArrived + '</td></tr>';
        });

        //Her tilføjes alt data fra loopet til vores product table (.append er lidt ligesom en liste der putter en masse række ind i noget)
        $('#arrival_table').append(trHTML);
    });

</script>
</body>
</html>