<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ankomst</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
    <!--Ajax for Javascript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>

<h1>Ankomst</h1>


<div class="center">
    <label>Dato</label>
    <input type="datetime-local" id="date">
    <label>Rutenummer</label>
    <input id="routeNumber" placeholder="Rutenummer">
    <label>AC</label>
    <input id="ac" placeholder="AC">
    <label>Destination</label>
    <input id="destination" placeholder="Destination">
    <label>Ankommet</label>
    <input id="arrived" placeholder="Ankommet">
    <button type="submit" class="btn btn-light" id="btnAdd">Tilføj</button>
</div>


<table class="table table-striped table-bordered" id="arrival_table">
    <thead>
    <tr>
        <th>Dato</th>
        <th>Rutenummer</th>
        <th>Tidspunkt</th>
        <th>AC</th>
        <th>Destination</th>
        <th>Ankommet</th>
    </tr>
    </thead>
    <tbody id="insert_tr">
    </tbody>
</table>

<script>
    $.ajax({
        url: "http://localhost:8080/arrival"
    }).then(function (data) {
        let trHTML = '';
        console.log(data)
        //Looper gennem alle data i vores product og putter dem i tables
        $.each(data, function (i, arrival) {
            trHTML += '<tr><td>' + arrival.dateTime.split('T')[0] + '</td><td>' + arrival.routeNumber + '</td> <td>' + arrival.dateTime.split('T')[1] + '</td> <td>' + arrival.ac + '</td><td>' + arrival.destination + '</td><td>' + arrival.isArrived + '</td></tr>';
        });

        //Her tilføjes alt data fra loopet til vores product table (.append er lidt ligesom en liste der putter en masse række ind i noget)
        $('#insert_tr').append(trHTML);
        $('#arrival_table').DataTable();
    });


    $("#btnAdd").click(function () {
        //Et javascript objekt
        let arrival = {
            dateTime: $("#date").val(),
            routeNumber: $("#routeNumber").val(),
            ac: $("#ac").val(),
            destination: $("#destination").val(),
            isArrived: $("#arrived").val()
        };

        $.ajax({
            url: 'http://localhost:8080/arrival',
            type: 'POST',
            //Ændre requestens body format til Json. Så den kan finde ud af det hele :)
            contentType: 'application/json',
            //Laver vores javascript object om til en string der indeholder Json
            data: JSON.stringify(arrival)
        }).then(
            function (arrival) {
                let trHTML = '';
                trHTML += '<tr><td>' + arrival.dateTime.split('T')[0] + '</td><td>' + arrival.routeNumber + '</td> <td>' + arrival.dateTime.split('T')[1] + '</td> <td>' + arrival.ac + '</td><td>' + arrival.destination + '</td><td>' + arrival.isArrived + '</td></tr>';
                $('#insert_tr').append(trHTML);
            });
    });


</script>
</body>
</html>